*{
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
body{
  background: radial-gradient(circle, #fff, #d666);
  padding: 15px;
}
.grid-container{
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 10px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img:first-child{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
img:nth-child(6){
grid-column: 2 / 4;
grid-row: 3 / 5;
} 
img:nth-child(10){
    grid-row: span 3;
}

