*{
    font-family: sans-serif;
    font-weight: 100;
}
.header, .main, .aside, .footer{
    padding: 20px;
}
.header{
    background: lightblue;
    flex-basis: 60px;
}
.main{
    background: slateblue;
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 0;
}
.aside{
    background: darkblue;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}
.footer{
    background: violet;
    flex-grow: 1; 

}
.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*
@media screen and (min-width: 700px){
    .content{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main, .aside{
        height: 530px;
    }
    .main{
        flex-grow: 4;
    }
    .aside{
        flex-grow: 1;
    }
    .header{
        flex-basis: 100%;
        max-height: 60px;
    }
    .footer{
        flex-basis: 100%;
    }
}
    
*/
@media screen and (min-width: 700px){
    .content{
        display: grid;
        grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
        grid-template-columns: repeat(3, 1fr);

    }
    .header{
        grid-column: 1 / span 3;
    }
    .main{
        grid-row: 2 / 6;
        grid-column: 1 / span 2;
    }
    .aside{
        grid-row: 2 / 6;
    }
    .footer{
        grid-row: 6 / 7;
        grid-column: 1 / span 3;
    }
}